<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <title></title>
    </head>
    <body>
        <input id="searchbar" onkeyup="search_animal()" type="text"
        name="search" placeholder="Enter phonenumber.">
<!-- ordered list -->
   <div class="container">
            <h1 class="text-center mt-3 mb-3"><%= title %></h1>
            
            <% if(action == 'add') { %>

            <div class="card">
                <div class="card-header">Sample Form</div>
                <div class="card-body">
                    <form method="POST" action="/sample_data/add_sample_data">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>ID</label>
                                    <input type="number" name="id" id="id" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Name</label>
                                    <input type="text" name="name" id="name" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Age</label>
                                    <input type="number" name="age" id="age" class="form-control" />
                                </div>
                            </div>
                        </div>
                            <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Gender</label>
                                    <select name="gender" id="gender">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Address</label>
                                    <input type="text" name="address" id="address" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Phonenumber</label>
                                    <input type="text" name="phonenumber" id="phonenumber" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Occupation</label>
                                    <input type="text" name="occupation" id="occupation" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Salary</label>
                                    <input type="text" name="salary" id="salary" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>History</label>
                                    <input type="text" name="History" id="History"  size = "100" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Disease</label>
                                    <input type="text" name="disease" id="disease" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>MedicineName</label>
                                    <input type="text" name="medicinename" id="medicinename" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Dosage</label>
                                    <input type="text" name="dosage" id="dosage" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Duration</label>
                                    <input type="text" name="duration" id="duration" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Diagnosis</label>
                                    <input type="text" name="diagnosis" id="diagnosis" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Previous Visit</label>
                                    <input type="date" name="previousvisit" id="previousvisit" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Next Appointment</label>
                                    <input type="date" name="nextappointment" id="nextappointment" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="submit" name="submit_button" class="btn btn-primary" value="Add" />
                        </div>
                    </form>
                </div>
            </div>

            <% } else if(action == 'edit') { %>
            <div class="card">
                <div class="card-header">Sample Form</div>
                <div class="card-body">
                    <form method="POST" action="/sample_data/edit/<%= sampleData.id %>">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>ID</label>
                                    <input type="number" name="id" id="id" class="form-control" value="<%= sampleData.id %>"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Name</label>
                                    <input type="text" name="name" id="name" class="form-control" value="<%= sampleData.name %>" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Age</label>
                                    <input type="number" name="age" id="age" class="form-control" value="<%= sampleData.age %>" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Gender</label>
                                    <input type="text" name="gender" id="gender" class="form-control" value="<%= sampleData.gender %>" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Address</label>
                                    <input type="text" name="address" id="address" class="form-control" value="<%= sampleData.address %>" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Phonenumber</label>
                                    <input type="text" name="phonenumber" id="phonenumber" class="form-control" value="<%= sampleData.phonenumber %>" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Occupation</label>
                                    <input type="text" name="occupation" id="occupation" class="form-control" value="<%= sampleData.occupation %>" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Salary</label>
                                    <input type="text" name="salary" id="salary" class="form-control" value="<%= sampleData.salary %>" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>History</label>
                                    <input type="text" name="History" id="History" size="100" class="form-control" value="<%= sampleData.History %>" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Disease</label>
                                    <input type="text" name="disease" id="disease" class="form-control" value="<%= sampleData.disease %>"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>MedicineName</label>
                                    <input type="text" name="medicinename" id="medicinename" class="form-control" value="<%= sampleData.medicinename %>"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Dosage</label>
                                    <input type="text" name="dosage" id="dosage" class="form-control" value="<%= sampleData.dosage %>"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Duration</label>
                                    <input type="text" name="duration" id="duration" class="form-control" value="<%= sampleData.duration %>"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Diagnosis</label>
                                    <input type="text" name="diagnosis" id="diagnosis" class="form-control" value="<%= sampleData.diagnosis %>"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Previous Visit</label>
                                    <input type="date" name="previousvisit" id="previousvisit" class="form-control" value="<%= sampleData.previousvisit %>"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Next Appointment</label>
                                    <input type="date" name="nextappointment" id="nextappointment" class="form-control" value="<%= sampleData.nextappointment %>"/>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="submit" name="submit_button" class="btn btn-primary" value="Edit" />
                        </div>
                    </form>
                   
                </div>
            </div>
            <% } else { %>
                
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col">Sample Data</div>
                        <div class="col">
                            <a href="/sample_data/add" class="btn btn-success btn-sm float-end">Add</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Gender</th>
                                <th>Address</th>
                                <th>Phonenumber</th>
                                <th>Occupation</th>
                                <th>Salary</th>
                                <th>History</th>
                                <th>Disease</th>
                                <th>MedicineName</th>
                                <th>Dosage</th>
                                <th>Duration</th>
                                <th>Diagnosis</th>
                                <th>previousvisit</th>
                                <th>nextappointment</th>
                            </tr>
                            <%
                            if(sampleData.length > 0)
                            {
                                sampleData.forEach(function(data){
                            %>
                            <tr>
                                <td><%= data.id %></td>
                                <td><%= data.name %></td>
                                <td><%= data.age %></td>
                                <td><%= data.gender %></td>
                                <td><%= data.address %></td>
                                <td><%= data.phonenumber %></td>
                                <td><%= data.occupation %></td>
                                <td><%= data.salary %></td>
                                <td><%= data.History %></td>
                                <td><%= data.disease %></td>
                                <td><%= data.medicinename %></td>
                                <td><%= data.dosage %></td>
                                <td><%= data.duration %></td>
                                <td><%= data.diagnosis %></td>
                                <td><%= data.previousvisit %></td>
                                <td><%= data.nextappointment %></td>

                                <td>
                                    <a href="/sample_data/edit/<%= data.id %>" class="btn btn-primary btn-sm">Edit</a>
                                    <a href="/sample_data/delete/<%= data.id %>" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                            <%
                                });
                            }
                            else
                            {
                            %>
                            <tr>
                                <td colspan="5">No Data Found</td>
                            </tr>
                            <%
                            }
                            %>
                        </table>
                    </div>
                </div>
            </div>

            <% } %>

        </div> 
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        </body>
</html>
